<nav class="nav">
    <ul class="nav__menu">
        <% states.forEach( state => { %>
            <li class="nav__menu-title"><%= state %>
                <br/>
                <ul class="nav__dropdown">
                    <% regions.forEach( region => { %>
                        <% if (region.state === state) { %>
                            <li class="nav__dropdown-title"><a href="/<%= region.region %>"><%= region.region %></a></li>
                        <% } %>
                    <% }) %>
                </ul>
            </li>
        <% }) %>
    </ul>
    <form class="nav__search" method="GET" action="/results">
        <input class="nav__search-input" type="text" placeholder="Search a location..." name="location" />
        <button class="nav__search-button">
            <img class="nav__search-icon" src="/icons/search.png" alt="Search Icon" />
        </button>
        <ul class="nav__suggestions-container">
            <% results.forEach(result => { %>
                <a class="nav__suggestions" href="/<%= result.region %>/<%= result.location %>"><li><%= result.location %>)</li></a>
            <% }) %>
        </ul>
    </form>
</nav>