<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLS Crypto Hub</title>
    <script src="/js/nav_header.js" defer></script>
    <script src="/js/delete_modal.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('../partials/nav_header.ejs') %>
    </header>
        <section>
            <form class="resource__form" action="/<%= encode(group) %>/<%= encode(coin) %>/admin/submit-resource-form" method="POST">

                <label for="resource">Resource:</label>
                <input type="text" name="resource" required>
                
                <label for="imageLink">Resource Image Link:</label>
                <input type="url" name="imageLink" required>

                <label for="hyperlink">Link to Resource:</label>
                <input type="url" name="hyperlink" required>

                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">

                <div class="buttons-wrapper">
                    <button type="submit">Add Resource</button>
                    <a href="/<%= encode(group) %>/<%= encode(coin) %>/admin"><button type="button">Cancel</button></a>
                </div>                
            </form>
        </section>
    <%- include('../../partials/footer.ejs') %>
</body>

</html>