<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLS Crypto Index</title>
    <script src="/js/nav_header.js" defer></script>
    <script src="/js/delete_modal.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('../partials/nav_header.ejs') %>
    </header>
        <section>
            <form class="coin__form" action="/admin/submit-add-coin-form" method="POST">
                <label for="group">Group:</label>
                <select name="group" required>
                    <option value="">Select a group</option>
                    <% groups.forEach( group => { %>
                        <option value="<%= group.group %>"><%= group.group %></option>
                    <% }) %>
                </select>

                <% if (errorMessage) { %>
                    <p class="flash-message invalid"><%= errorMessage %></p>
                <% } %>

                <label for="coin">Coin:</label>
                <input type="text" name="coin" value="<%= oldInput.coin %>" required>
                
                <label for="coinLogoLink">Coin Logo Link:</label>
                <input type="url" name="coinLogoLink" value="<%= oldInput.coinLogoLink %>"  required>

                <label for="description">Description:</label>
                <textarea type="text" name="description" rows="4" required>
                    <%= oldInput.description %>
                </textarea>
                
                <label for="imageLink">Image Link:</label>
                <input type="url" name="imageLink" value="<%= oldInput.imageLink %>" required>

                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                
                <div class="buttons-wrapper">
                    <button type="submit">Add Coin</button>
                    <a href="/admin"><button type="button">Cancel</button></a>
                </div> 
            </form>
        </section>
    <%- include('../../partials/footer.ejs') %>
</body>

</html>