<%- include('../../partials/head.ejs') %>

<body>
    <header>
        <%- include('../partials/nav_header.ejs') %>
    </header>
        <section>
            <form class="coin__form" action="/admin/submit-add-group-form" method="POST">

                <label for="category">Category:</label>
                <select name="category" required>
                    <option value="">Select a Category</option>
                    <option value="Coins">Coins</option>
                    <option value="NFTs">NFTs</option>
                    <option value="Tokens">Tokens</option>
                </select>

                
                <% if (errorMessage) { %>
                    <p class="flash-message invalid"><%= errorMessage %></p>
                <% } %>                
                
                <label for="group">Group:</label>
                <input type="text" name="group" value="<%= oldInput.group %>" required>

                <label for="description">Description:</label>
                <textarea type="text" name="description" rows="4" required>
                    <%= oldInput.description %>
                </textarea>

                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                
                <div class="buttons-wrapper">
                    <button type="submit">Add Group</button>
                    <a href="/admin"><button type="button">Cancel</button></a>
                </div> 
            </form>
        </section>
    <%- include('../partials/footer.ejs') %>
</body>

</html>