<%- include('./partials/head.ejs') %>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
    
    <%- include('./partials/contact_us.ejs') %>
    
    <% groups.forEach( group => { %>
        <section>
            <div class="group__wrapper">
                <h1 class="group__title"><%= group.group %></h1>
                <p class="group__description"><%= group.description %></p>
                <div class="group__coin-grid" data-group="<%= group.group %>">
                    <% group.coins.forEach( coin => { %>
                        <div class="group__coin-container">
                            <a href="/<%= encode(group.group) %>/<%= encode(coin.coin) %>">
                                <img class="group__coin-image" src="<%= coin.coinLogoLink %>" alt="Logo of coin" />
                                <h3 class="group__coin-title"><%= coin.coin %></h3>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    <% }) %>

    <%- include('./partials/faq.ejs') %>
    <%- include('./partials/footer.ejs') %>

    <script src="/js/accordion.js"></script>
    <script src="/js/see_more_button.js"></script>
</body>

</html>
