<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <script src="./js/grid.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
        <section>
            <div class="location__wrapper">
                <p class="location__breadcrumb"><a href="/<%= region %>"><%= region %></a> > <%= location %></p>
                <h1 class="location__title"><%= location %></h1>
                <div class="location__grid">
                    <div class="location__container">
                        <p class="location__description">
                            Located just 7 kilometers from Sydney's CBD, Bondi is a coastal suburb best known for its iconic Bondi Beach. This area offers a relaxed, beachside lifestyle complete with trendy cafes, boutique shops, and a variety of dining options. With excellent schools and public transport links, Bondi is a top choice for families and young professionals seeking both convenience and a high quality of life.
                        </p>
                        <p class="location__description">
                            Beyond its famous beach, Bondi is a vibrant community that hosts year-round events like Sculpture by the Sea and Bondi Winter Magic. The local real estate market is diverse, featuring everything from historic Art Deco apartments to modern luxury homes. With its mix of natural beauty and urban amenities, Bondi stands out as one of Sydney's most desirable suburbs for prospective homebuyers.
                        </p>
                    </div>
                    <div class="location__container">
                        <img class="location__image" src="<%= mapImageLink %>" alt="Location Map" />
                    </div>
                </div>
                <h1 class="location__amenities-title">Amenities</h1>
                <div class="location__amenities-grid">
                    <% amenities.forEach( amenity => { %>
                        <div class="location__amenities-container">
                            <a href="/<%= region %>/<%= location %>/<%= amenity.amenity %>">
                                <img class="location__amenities-image" src="<%= amenity.imageLink %>" alt="" />
                                <h3 class="location__amenities-category"><%= amenity.amenity %></h3>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
