<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
        <section>
            <div class="region__wrapper">
                <h1 class="region__title"><%= regions[0].region %></h1>
                <p class="region__description"><%= regions[0].description %></p>
                <div class="region__location-grid">
                    <% regions[0].locations.forEach( location => { %>
                        <div class="region__location-container">
                            <a href="./<%= regions[0].region %>/<%= location.location %>">
                                <img class="region__location-image" src="<%= location.imageLink %>" alt="" />
                                <h3 class="region__location-title"><%= location.location %></h3>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
