<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <script src="./js/grid.js" defer></script>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
    <section class="about__wrapper">
        <div class="about__container">
            <img class="about__image" src="https://remindermedia.com/wp-content/uploads/2021/04/building-a-team-main.jpg" alt="" />
        </div>
        <div class="about__description-container">
            <h1 class="about__title">About Us</h1>
            <p class="about__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Donec in efficitur leo. 
                In vehicula dapibus nisl, a fermentum orci viverra ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <p class="about__description">
                Suspendisse potenti. Fusce venenatis vel velit vel euismod. Nunc non urna facilisis, imperdiet nulla quis, fermentum mi. Quisque et libero nec mauris sollicitudin fringilla. 
                Vivamus a ante et libero pharetra cursus.
            </p>
            <p class="about__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Donec in efficitur leo. 
                In vehicula dapibus nisl, a fermentum orci viverra ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <p class="about__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Donec in efficitur leo. 
                In vehicula dapibus nisl, a fermentum orci viverra ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
            <br/>
            <button>Contact Us</button>
        </div>
    </section>
    <% regions.forEach( region => { %>
        <section>
            <div class="region__wrapper">
                <h1 class="region__title"><%= region.region %></h1>
                <p class="region__description"><%= region.description %></p>
                <div class="region__location-grid">
                    <% region.locations.forEach( location => { %>
                        <div class="region__location-container">
                            <img class="region__location-image" src="<%= location.imageLink %>" alt="" />
                            <h3 class="region__location-title"><%= location.location %></h3>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    <% }) %>
    <%- include('./partials/footer.ejs') %>
</body>

</html>
