<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLS Crypto Index</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header.ejs') %>
    </header>
        <section>
            <div class="group__wrapper">
                <h1 class="group__title">Result:</h1>
                <p class="group__description">We found <%= results.length %> coin(s)</p>
                <% if (results.length === 0) { %>
                    <p class="group__description group__description-not-found">Please try a different search.</p>
                <% } else { %>
                    <div class="group__coin-grid">
                        <% results.forEach( result => { %>
                            <div class="group__coin-container">
                                <a href="/<%= result.group %>/<%= result.coin %>">
                                    <img class="group__coin-image" src="<%= result.imageLink %>" alt="Coin Logo" />
                                    <h3 class="group__coin-title"><%= result.coin %></h3>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>
        </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>