<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <script src="/js/delete_modal.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('./partials/nav_header_admin.ejs') %>
    </header>
        <section>
            <form class="location__form" action="/<%= region %>/<%= location %>/admin/update" method="POST">

                <label for="location">Location:</label>
                <input type="text" value="<%= location %>" name="location" required>
                
                <label for="imageLink">Location Image Link:</label>
                <input type="url" value="<%= locationImageLink %>" name="locationImageLink" required>

                <label for="description">Description:</label>
                <textarea type="text" name="description" rows="4" required>
                    <%= description %>
                </textarea>
                
                <label for="imageLink">Map Image Link:</label>
                <input type="url" value="<%= mapImageLink %>" name="mapImageLink" required>
                
                <button type="submit">Update Location</button>
            </form>
        </section>
    <%- include('./partials/footer.ejs') %>
</body>

</html>