<%- include('../../partials/head.ejs') %>

<body>
    <header>
        <%- include('../partials/nav_header.ejs') %>
    </header>
    
    <%- include('../../partials/contact_us.ejs') %>

    <% groups.forEach( group => { %>
        <section>
            <div class="group__wrapper">
                <h1 class="group__title"><%= group.group %></h1>
                <p class="group__description"><%= group.description %></p>
                <div class="group__coin-grid" data-group="<%= group.group %>">
                    <% group.coins.forEach( coin => { %>
                        <div class="group__coin-container">
                            <a href="/<%= encode(group.group) %>/<%= encode(coin.coin) %>/admin">
                                <img class="group__coin-image" src="<%= coin.coinLogoLink %>" alt="" />
                                <h3 class="group__coin-title"><%= coin.coin %></h3>
                            </a>
                        </div>
                    <% }) %>
                </div>
                <br/>
                <br/>
                <div class="buttons-wrapper">
                    <form class="group__admin-delete-form" action="/admin/delete-group" method="POST">
                        <input type="hidden" name="group" value="<%= group.group %>" />
                        <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                        <button class="admin-delete-button">Delete</button>
                    </form>
                    <a href="/<%= encode(group.group) %>/admin/update-group-form"><button>Update Group</button></a>
                </div>
            </div>
\
                <div id="delete__modal" class="modal">
                    <div class="modal__content">
                        <span class="modal__close-button">&times;</span>
                        <p class="modal__message">Are you sure you want to delete this group?</p>
                        <h3 class="modal__message">Warning!</h3>
                        <p class="modal__message">Please note that you're only deleting the group from your database and not its coins. 
                            Hence, it's highly recommended that you delete all the coins in this group first.</p>
                        <div class="modal__buttons-wrapper">
                            <button id="modal__confirm-delete-button">Yes</button>
                            <button id="modal__cancel-delete-button">Cancel</button>
                        </div>
                    </div>
                </div>

        </section>
    <% }) %>

    <%- include('../../partials/faq.ejs') %>
    <%- include('../../partials/footer.ejs') %>

    <script src="/js/accordion.js"></script>
    <script src="/js/see_more_button.js"></script>
    <script src="/js/delete_modal.js"></script>

</body>

</html>

